USE [master]
GO
/****** Object:  Database [DealershipDB]    Script Date: 4/11/2018 3:05:24 PM ******/
CREATE DATABASE [DealershipDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DealershipDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DealershipDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DealershipDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DealershipDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DealershipDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DealershipDB]
GO
USE [DealershipDB]
GO
/****** Object:  Table [dbo].[CarDatas]    Script Date: 4/11/2018 3:05:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarDatas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Make] [nchar](10) NULL,
	[Model] [nvarchar](50) NULL,
	[Year] [int] NULL,
 CONSTRAINT [PK_CarDatas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 4/11/2018 3:05:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VINNumber] [nvarchar](50) NULL,
	[Color] [nchar](10) NULL,
	[DateAddedToLot] [date] NULL,
	[AvailableForLease] [bit] NULL,
	[MilesDriven] [nchar](10) NULL,
	[FK-CDID] [int] NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 4/11/2018 3:05:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[FavoredCustomer] [bit] NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leases]    Script Date: 4/11/2018 3:05:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leases](
	[ID] [int] NOT NULL,
	[ExpDate] [date] NULL,
	[TotalCost] [money] NULL,
	[UpFrontPayment] [money] NULL,
	[CostPerMonth] [money] NULL,
	[FK-CarsID] [int] NULL,
 CONSTRAINT [PK_Leases] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeasingCustomers]    Script Date: 4/11/2018 3:05:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeasingCustomers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK-LeaseID] [int] NULL,
	[FK-CustomerID] [int] NULL,
 CONSTRAINT [PK_LeasingCustomers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_CarDatas] FOREIGN KEY([FK-CDID])
REFERENCES [dbo].[CarDatas] ([ID])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_CarDatas]
GO
ALTER TABLE [dbo].[Leases]  WITH CHECK ADD  CONSTRAINT [FK_Leases_Cars] FOREIGN KEY([FK-CarsID])
REFERENCES [dbo].[Cars] ([ID])
GO
ALTER TABLE [dbo].[Leases] CHECK CONSTRAINT [FK_Leases_Cars]
GO
ALTER TABLE [dbo].[LeasingCustomers]  WITH CHECK ADD  CONSTRAINT [FK_LeasingCustomers_Customers] FOREIGN KEY([FK-CustomerID])
REFERENCES [dbo].[Customers] ([ID])
GO
ALTER TABLE [dbo].[LeasingCustomers] CHECK CONSTRAINT [FK_LeasingCustomers_Customers]
GO
ALTER TABLE [dbo].[LeasingCustomers]  WITH CHECK ADD  CONSTRAINT [FK_LeasingCustomers_Leases] FOREIGN KEY([FK-LeaseID])
REFERENCES [dbo].[Leases] ([ID])
GO
ALTER TABLE [dbo].[LeasingCustomers] CHECK CONSTRAINT [FK_LeasingCustomers_Leases]
GO
USE [master]
GO
